[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.2"
prefect = "==2.7.7"
prefect-gcp = {version = "==0.2.4", extras = ["cloud_storage"]}
pyarrow = "*"
dbt-core = "*"
dbt-bigquery = "*"
requests = "*"
prefect-dbt = {extras = ["bigquery"], version = "*"}
prefect-github = "*"

[dev-packages]

[requires]
python_version = "3.9"
